.contact-us-parent {
  margin-top: -70px;
}
.contact-us-image {
  width: 100%;
  filter: blur(0px);
  position: relative;
  margin-bottom: 25px;
}
.first-header {
  font-weight: 500;
  padding: 0px 0px 0px 8%;
  position: relative;
  top: 15px;
  line-height: 10px;
}
.homepage-image-container1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 0px 0px 0% 0px;
  top: 0px;
}
.top-text1 {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  z-index: 1;
  position: absolute;
  color: white;
  left: 7%;
  width: 80%;
  animation: slide 4s;
  top: 55%;
}
.top-text1 .first1 {
  font-size: 35px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  font-weight: 600;
}
.top-text1 .second1 {
  padding: 10px 0px 15px 0px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  font-size: 18px;
}

.second-header {
  position: relative;
  top: 30px;
  padding: 0px 0px 0px 8%;
  font-weight: 550;
  line-height: 10px;
}
.third-header {
  font-weight: 400;
  font-size: 15px;
  position: relative;
  padding: 0px 0px 0px 4%;
  top: 40px;
  line-height: 20px;
}
.reach-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  justify-items: center;
  top: 40px;
  font-size: 80%;

  /* display: flex;
  justify-content: center; */
  padding: 0px 4% 0px 4%;
  animation: slide-in2 2s;
}
@keyframes slide-in2 {
  from {
    opacity: 0.1;
    left: -50px;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}
.reach-us-through .item-a {
  color: rgb(0, 39, 168);
  line-height: 20px;
  font-weight: 450;
  font-weight: 600;
  /* padding: 0px 0px 0px 20px; */
}
.-icona {
  font-size: 13px;
  position: relative;
  top: 2px;
  padding: 0px 5px 0px 0px;
}
.reach-us-through .item-b {
  line-height: 20px;
  width: 100%;
  font-size: 90%;
  font-weight: 400;
  /* padding: 0px 0px 0px 20px; */
}
.social-networks {
  font-size: 90%;
  position: relative;
}
.social-networks .social-header {
  color: rgb(0, 39, 168);
  line-height: 20px;
  font-weight: 600;
  /* padding: 0px 0px 0px 20px; */
}
.social-networks .sub-a {
  font-weight: 400;
}
.contactfb {
  text-decoration: none;
  color: black;
}
.image-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 0px 0px 0% 0px;
}
.icons .fb-icon {
  padding: 10px 0px 10px 0px;
  position: relative;
  top: -7px;
}
.underline {
  border: 1px solid rgb(0, 0, 0);
  background: #000000;
  position: relative;
  width: 70px;
  top: 25px;
  left: -38%;
  height: 0.1px;
  animation: slide-in 4s;
}
input,
textarea {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
textarea {
  background-color: rgb(244, 244, 244);
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  border: 10px solid rgb(244, 244, 244);
  border-radius: 7px;
  resize: none;
  font-size: 15px;
}
input {
  background-color: rgb(244, 244, 244);
  outline: none;
  padding-left: 10px;
  border: none;
  font-size: 12px;
  border-radius: 7px;
}

input::placeholder {
  color: rgb(122, 122, 122);
}

@keyframes slide-in {
  from {
    opacity: 0.1;
    left: -20%;
  }
  to {
    opacity: 1;
    left: -34%;
  }
}
.contact-us-form {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  top: 0px;
}
.prayer {
  position: relative;
  color: rgb(0, 39, 168);
  top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 800;
}

.input-item {
  width: 90%;
}
.name {
  font-size: 13px;
  width: 99%;
  margin: 0px 0px 10px 0px;
  height: 40px;
}
.phone {
  font-size: 13px;
  width: 99%;
  margin: 0px 0px 10px 0px;
  height: 40px;
}
.message {
  width: 98.5%;
  margin: 0px 0px 10px 0px;
  height: 100px;
}
.submit {
  position: relative;
  top: 10px;

  outline: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 7px 10% 7px 10%;
  position: relative;
  cursor: pointer;
  z-index: 99;
  margin-bottom: 35px;
}
.info-tag {
  font-size: 100%;
  padding: 0px 0px 5px 0px;
  color: rgb(0, 39, 168);
}
.number-link {
  text-decoration: none;
  color: black;
}
.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.button .cliploader {
  width: 2px;
  position: relative;
  background-color: orange;
}
.base-information {
  color: red;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 800px) {
  .contact-us-parent {
    margin: 0px;
  }
  .underline {
    left: -33.5%;
  }
  .icons {
    top: 55%;
  }
  .contact-us-form {
    grid-template-columns: repeat(1, 1fr);
    top: 10px;
    margin-right: 2%;
  }
  .b {
    top: 155px;
  }
  .item-b {
    position: relative;
    top: -5px;
  }
  .message {
    width: 97.5%;
  }
  .top-text1 {
    top: 15%;
  }
  .top-text1 .first1 {
    font-size: 30px;
    font-weight: 600;
  }
  .top-text1 .second1 {
    padding: 10px 0px 15px 0px;
    font-size: 15.5px;
  }
  .homepage-image-container1 {
    margin: 0;
    width: 130%;
    top: 0px;
  }
}
