.parent-bg {
  margin-top: -70px;
}
.coming-soon {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ruler {
  background-color: rgb(0, 0, 0);
  position: relative;
  border: 0.5px solid rgb(0, 0, 0);
  top: 100px;
  width: 91%;
}
.top-header {
  font-size: 150%;
  line-height: 10px;
  margin: 0px 0px 50px 4%;
}
.top-header .devotional {
  font-weight: 800;
}
.sermon-title {
  font-size: 130%;
  font-weight: 700;
  margin-bottom: 2%;
}
.sermon-date {
  margin-bottom: 2%;
}
.message-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: -15px 4% 4% 4%;
  position: relative;
  justify-items: center;
  top: 50%;
  gap: 1rem;
}
.div-picture {
  object-fit: cover;
  width: 65%;
}
.div-text {
  display: flex;
  padding: 0px 0px 0px 2%;
  align-items: center;
}
.audio {
  outline: none;
}
.readmore {
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
  padding: 2% 4% 2% 4%;
  margin: 5% 0px 5% 0px;
  outline: none;
  border: none;
}
.readmore:hover {
  color: white;
}
.spinner {
  position: relative;
  top: 200px;
  left: 25%;
  z-index: 99;
}
/* .search-parent {
  background-color: red;
} */
.sermon-search {
  margin-top: 20px;
  background-color: #eee;
  width: 70%;
  height: 35px;
  font-size: 60%;
}
@media screen and (max-width: 800px) {
  .parent-bg {
    margin-top: 0px;
  }
  .message-div {
    grid-template-columns: repeat(1, 1fr);
  }
  .spinner {
    left: 50%;
  }
  .div-picture {
    width: 100%;
  }
}
